body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  h2{
    background: -webkit-linear-gradient(rgb(255, 3, 3), rgb(55, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
          font-size: 155px;
      text-align: center;
      padding-top: 113px !important;
      margin: 0 !important;
  }
  .topnav {
    overflow: hidden;
    text-align: center;
    background: rgb(210,28,40);
    background: linear-gradient(39deg, rgba(210,28,40,1) 0%, rgba(57,11,11,1) 100%);  }
  
    .topnav-centered a {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
.topnav {
    position: relative;
    padding: 14px 16px;

  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
   /* .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
   
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}



/* From cssbuttons.io */
.center {
    margin: 0;
    position: absolute;
    bottom: unset;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
button {
   
    font-size: 17px;
    font-family: inherit;
    font-weight: 700;
    padding: 4px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(227, 18, 18) 47%, rgba(0,91,187,1) 47%, rgba(0,91,187,1) 100%);
   }
   
   button .button-content {
    display: flex;
    align-items: center;
    background: white;
    padding: 0.7em 1.5em;
    padding-left: 1.2em;
    border-radius: 16px;
   }
   
   button svg {
    width: 22px;
    height: 22px;
    margin-right: 6px;
    color: #ff0000;
    transition: transform 0.3s;
   }
   
   button:hover svg {
    transform: scale(1.2);
   }
   

   .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
   